.success {
  color: green;
  background: #d4f8d4;
  border: 2px solid green;
  padding: 10px;
  margin-bottom: 15px;
}

.error {
  color: red;
  background: #f8d4d4;
  border: 2px solid red;
  padding: 10px;
  margin-bottom: 15px;
}
